.App {
  text-align: center;
}

.header .navbar {
  background-color: #EB8C74;
}

#navbarMenu {
  display: block;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .the-image {
  height: 400px;
  background-size: cover;
  background-position: center;
} */