.confirm-booking {
  margin: 0 auto;
}

.booking-container {
  padding: 50px;
  font-size: 30px;
}

.title-booking {
  padding-left: 50px;
  padding-top: 20px;
}

.booking-button {
  margin-left: 50px;
}